<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <%= favicon_tag 'favicon.ico' %>
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= yield_content(:title) || current_page.data.title || "BLBRD" %></title>
    <meta name="description" content="Digital communication - Web development, Art Direction, consulting..."/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://www.blbrd.com"/>
    <meta property="og:title" content="BLBRD"/>
    <meta property="og:image" content="http://www.blbrd.com/images/fblogo.png"/>
    <meta property="og:description" content="Digital communication - Web development, Art Direction, consulting...."/>
    <meta property="fb:app_id"/>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "navbar" %> 
    <%= yield %>
    <%= partial "footer" %>
    <%= partial "ga" %>

  </body>
</html>
