---
title: BLBRD - Creative Studio in Paris
---


<div id="banner" class="text-center">
  <div class="fadeInHome">
    <h1>INDEPENDANT DESIGN STUDIO LED BY CREATIVES</h1>
    <span class="subhead-big">
      Timeless, Powerful, Consistent and Elegant Design for your brand
    </span>
    <br>
    <%=link_to"See the portfolio", "/work.html", class: "btn btn-info btn-lg"%>
  </div>
  <div class="arrow-container fadeInArrow">
    <a href="#services"><i class="fa fa-angle-down scroll-btn"></i>
    </a>
  </div>
</div>

<div id="services" class="padded">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-6 col-md-3">
       <%= image_tag "focus.png", alt: "focus", class: "img-small"%>
       <p class="paragraph-padded">
          From the idea to the delivery, we focus on a way to <strong>make your brand matter</strong>. We work closely with our clients to redefine their brand strategy.
       </p>
      </div>

      <div class="col-sm-6 col-md-3">
        <%= image_tag "brightness.png", alt: "idea", class: "img-small"%>
        <p class="paragraph-padded">
          Creativity is always at <strong>the heart of our approch</strong>. We create simple answer where form and function work together as one to make a clear and <strong>appropriate design</strong>.
        </p>
      </div>

      <div class="col-sm-6 col-md-3">
        <%= image_tag "dev.png", alt: "tools", class: "img-small"%>
        <p class="paragraph-padded">
          Whether it's to make <strong>movies</strong>, <strong>applications</strong> or <strong>websites</strong>, we have all the necessary tools to deliver <strong>premium artwork</strong>.
        </p>
      </div>

      <div class="col-sm-6 col-md-3">
        <%= image_tag "helicopter.png", alt: "international", class: "img-small"%>
        <p class="paragraph-padded">
          We are always thrilled to work with <strong>international brand</strong>! Curious about <strong>foreign cultures</strong>, and proud to bring our <strong>french touch</strong>!
        </p>
      </div>
    </div>
  </div>
</div>
