---
---

<% content_for(:title, project.name) %>

<div id="project" class="text-center">
  <div class="container-fluid">
    <h1><%= project.name %></h1>

    <% if project.description %>
      <p><%= project.description %></p>
    <% end %>
    <% if project.link %>
      <p class="txt-bold"><%= link_to("See website", project.link, target: "blank") %></p>
    <% end %>

    <p><%= project.medium %></p>
    <% project.images.each do |image| %>
      <%= image_tag image.url, class: "img-responsive img-padded" %>
      <% if project.description %>
        <p><%= image.legend %></p>
      <% end %>
    <% end %>
    <% if project.credit %>
      <p><%= project.credit %></p>
    <% end %>
  </div>
</div>


<div id="feature-work" class="text-center">
  <div class="container-fluid">
    <h2>Other projects</h2>
    <div class="features">
      <%
        featured = data.portfolio[0..-1]
        featured.delete_if{|item| item.name == project.name }
        featured.delete_if{|item| item.category != project.category }
        featured.sample(4).each do |f| %>
          <div class="feature-container">
            <div class="feature-container-hover text-center">
              <a class='feature-url' href= <%= f.url %> ></a>
              <h4><%= f.name %></h4>
              <p><%= f.type %></p>
            </div>
            <div class="feature-item">
              <div class="feature-item-thumbnail">
                <%= image_tag f.img_path %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

