---
---

<% content_for(:title, project.name) %>

<div id="banner" class="text-center" style="background: url('<%= image_path project.bg_img%>') no-repeat center center fixed; background-size: cover; @media only screen and ($screen-md) {
      background: no-repeat bottom center scroll;
      padding-top: 150px;
      padding-bottom: 150px;
  }">
  <div class="arrow-container fadeInArrow">
    <a href="#">
      <i class="fa fa-angle-down scroll-btn"></i>
    </a>
  </div>
</div>

<div id="project" class="small-padded text-center">
  <div class="container">
    <h1><%= project.name %></h1>
    <% if project.link %>
      <p class="project-link"><%= link_to("See website", project.link, target: "blank") %></p>
    <% end %>
    <p><%= project.medium %></p>
    <% project.images.each do |image| %>
      <%= image_tag image, class: "img-responsive img-padded" %>
    <% end %>
  </div>
</div>


<div id="feature-work" class="padded text-center">
  <div class="container">
    <h2 class="mh-padded">Other projects</h2>
    <div class="features">
      <%
        featured = data.portfolio[0...12]
        featured.delete_if{|item| item.name == project.name }
        featured.delete_if{|item| item.category != project.category }
        featured.sample(3).each do |f| %>
          <div class="feature-container">
            <a class='feature-url' href= <%= f.url %> ></a>
            <div class="feature-item">
              <div class="feature-item-thumbnail">
                <%= image_tag f.img_path %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

